* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background: #fff7ed;
	font-family: 'Inter', sans-serif;
}

/* Typography */

h1 {
	font-size: 2.25rem;
	font-weight: 800;
	line-height: 1.17em; /* 116.667% */
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.19em; /* 118.75% */
}

h3 {
	color: #161616;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25em; /* 125% */
	margin-top: 0;
}

p {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5em; /* 150% */
}

nav .container {
	display: flex;
	justify-content: space-between;
	gap: 1.7em;
	align-items: center;
	margin-top: 2.25em; /* 36px */
	margin-bottom: 2.25em; /* 36px */
}

nav a {
	text-decoration: none;
	color: #4d4d4d;
	text-align: right;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.43em; /* 143.267% */
}

nav a:hover {
	text-decoration: underline;
	color: #161616;
}

.logo-text {
	margin-right: auto;
	color: #000;
	font-size: 1.56rem;
	font-weight: 900;
	line-height: 1.59em; /* 158.842% */
}

.logo-text:hover {
	text-decoration: none;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.container {
	margin-left: 1.63em;
	margin-right: 1.63em;
}

/* Home */

.home {
	color: #ffffff;
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.46) 0%,
			rgba(0, 0, 0, 0.46) 100%
		),
		url('./assets/image-53.png'),
		lightgray 0px -65.191px / 100% 178.109% no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	padding-top: 66px;
}

.home .container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.big-btn {
	color: #fff;
	background-color: #ff8c38;
	height: 50px;
	width: 494px;
	text-align: center;
	font-size: 1.13rem;
	font-weight: 700;
	line-height: 1.76em; /* 175.898% */
	border: none;
	border-radius: 5px;
	text-decoration: none;
	padding-top: 0.5em;
}

.big-btn:hover {
	transform: translate(1px, 1px);
}

.home .big-btn {
	margin-top: 52px;
}

/* About */

.about {
	color: #161616;
}

.about .hero {
	background: url('./assets/image-54.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 233px;
}

.destination-container {
	border-radius: 5px;
	background: #ffcc8d;
	padding: 2em 2.31em;
	margin-top: 54px;
	margin-bottom: 54px;
}

.black-btn {
	color: #fff;
	border-radius: 10px;
	border: none;
	background: #161616;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.75em 1.38em;
	line-height: 1.5em;
	text-decoration: none;
}

.black-btn:hover {
	transform: translate(1px, 1px);
}

footer {
	text-align: center;
	color: #aaaaaa;
	background: #252525;
	font-size: 0.88rem;
	padding-top: 1.63em;
	padding-bottom: 1.63em;
}

@media (width < 546px) {
	.big-btn {
		width: 100%;
	}
}

/*** VAN PAGES ***/

.van-list-container {
	padding-inline: 23px;
}

.van-list {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	gap: 34px;
	margin-top: 57px;
	margin-bottom: 80px;
}

.van-tile a {
	color: #161616;
	text-decoration: none;
}

.van-tile img {
	max-width: 100%;
	border-radius: 5px;
}

.van-list-container button {
	margin-right: 20px;
	cursor: pointer;
}

.van-type {
	height: 34px;
	padding: 6px 26px;
	font-style: normal;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	background-color: #ffead0;
	color: #4d4d4d;
	transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
	text-transform: capitalize;
}

.van-type:hover {
	color: #ffead0;
}

.van-type:focus {
	outline: none;
}

.van-type.selected {
	color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
	background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
	background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
	background-color: #161616;
}

.van-type.clear-filters {
	margin-left: -20px;
	height: 34px;
	padding: 6px 26px;
	font-style: normal;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	text-decoration: underline;
	background-color: transparent;
	color: #4d4d4d;
}

i[class*='van-type-'] {
	padding: 7px 14px;
}

/* Van Detail */

.van-detail-container {
	padding: 27px;
}

.van-detail-container .back-button {
	color: black;
	text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
	text-decoration: underline;
}

.van-detail {
	display: flex;
	flex-direction: column;
	color: #161616;
}

.van-detail img {
	border-radius: 5px;
	margin-block: 47px;
}

.van-detail h2 {
	font-size: 2rem;
	margin-bottom: 10px;
}

.van-detail > i {
	align-self: flex-start;
}

.van-detail .van-price {
	font-size: 1.25rem;
	margin-bottom: 10px;
}

.van-detail .van-price span {
	font-weight: 700;
	font-size: 1.5rem;
}

.btn-div {
	margin-top: 1em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .van-detail .link-button {
	background-color: #ff8c38;
	color: white;
	font-size: 1.125rem;
} */
